<div class="title-container">
        <h1 class="auth-title">NETTalk</h1>
    </div>
<div class="container d-flex justify-content-center align-items-center vh-100" style="margin-top: 80px">
    <div class="" style="width: 100%; max-width: 400px;">
        <h1 class="text-center mb-4 title-color">Вход</h1>
        <form id="loginForm">
            <!-- Логин -->
            <div class="mb-3">
                <label for="username" class="form-label">Логин</label>
                <input type="text" class="form-control" id="username" name="login" placeholder="Enter your username" required>
            </div>
            <!-- Пароль -->
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <!-- Кнопка входа -->
            <button id="loginButton" type="submit" class="btn btn-custom w-100">Вход</button>
            <!-- Ссылка на регистрацию -->
            <p class="text-center mt-3">
                <a href="/register" class="text-decoration-none" style ="color: #8a2be2">Нет аккаунта? Зарегестрируйтесь</a>
            </p>
        </form>
    </div>
</div>