<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>NET Talk</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
    <link href="https://cdn.jsdelivr.net/npm/mdb-ui-kit/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div  id="alertContainer"  class="container d-flex justify-content-center align-items-center mb-4" style="display: none; position: fixed; right: 15%;">
    <div id="alertBox" class="" role="alert"></div>
</div>

@RenderBody()
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>