@using Application.Chat.Dto
@model List<ChatSummary>
@{
  var id = int.Parse(Context.User.Claims.FirstOrDefault(cl => cl.Type == "Id")?.Value);
  var url = Context.User.Claims.FirstOrDefault(cl => cl.Type == "PhotoUrl")?.Value;
}
<section>
  <div class="row">
    <div class="col-md-12">

      <div class="" id="chat3">
        <div class="">

          <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
              @await Html.PartialAsync("_ChatList", Model);
            </div>
            <div class="col-md-6 col-lg-7 col-xl-8">
             <div id="container" class="col-md-12" style="overflow-y: auto;">
               <div class="pt-3 pe-3" data-mdb-perfect-scrollbar-init
                    style="position: relative; height: 80vh; display: flex; justify-content: center; align-items: center;" id="messagesList">
               </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section> 
<script  src="@Url.Content("~/js/web-socket-conection.js")" type="module" asp-append-version="true"></script>
<script src="~/js/chat-main.js" type="module" asp-append-version="true"></script>
