@using Application.Chat.Dto
@model ChatListModel
@{
  var id = int.Parse(Context.User.Claims.FirstOrDefault(cl => cl.Type == "Id")?.Value);
  var url = Context.User.Claims.FirstOrDefault(cl => cl.Type == "PhotoUrl")?.Value;
}
<nav class="navbar bg-nav">
</nav>
<section>
  <div class="row">
    <div class="col-md-12">

      <div class="" id="chat3">
        <div class="">

          <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
              <div class="p-3">
                                     <div data-mdb-perfect-scrollbar-init style="overflow-y: auto;height: 80vh; border: 1px solid #ccc; border-radius: 5px">
                                       <ul class="list-unstyled mb-0 summary-list">
                                       </ul>
                                     </div>
                                   </div> 
            </div>
            <div class="col-md-6 col-lg-7 col-xl-8">
              <div id="container" class="col-md-12" style="overflow-y: auto;">
                <div class="pt-3 pe-3" data-mdb-perfect-scrollbar-init
                     style="position: relative; height: 75vh;" id="messagesList">
                </div>
              </div>
              <span id="input">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section> 
<script  src="@Url.Content("~/js/add-chat-script.js")" type="module" asp-append-version="true"></script>
<script src="~/js/chat-main.js" type="module" asp-append-version="true"></script>
